# Dependencies
node_modules

# Build output
dist
dist-ssr

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local
.env.*.local

# Editor directories
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Kilo
.kilo/node_modules

# Local storage
.kilo/*.json
.kilo/*.db

.github